
@font-face {
  font-family: 'GalaxiePolaris-Bold';
  src: url('GalaxiePolaris-Bold.eot?#iefix') format('embedded-opentype'),  url('GalaxiePolaris-Bold.otf')  format('opentype'),
	     url('GalaxiePolaris-Bold.woff') format('woff'), url('GalaxiePolaris-Bold.ttf')  format('truetype'), url('GalaxiePolaris-Bold.svg#GalaxiePolaris-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
