
.icon-bag:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-instagram:before { content: '\e803'; } /* '' */
.icon-star-1:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */